/*
Colors used:
Primary Color (Alabaster): #F7F6F1;
Secondary Color (Charcoal): #1F1F1F;
*/


body {
    background-color: #F7F6F1;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
    color: #1F1F1F
  }

  h1, h2, h3, h4 {
      line-height: 1.4;
  }
  h1 {
      font-size: 2.05em;
      font-weight: 400;
  }
  h2 {
      font-size: 1.65em;
      font-weight: 300;
  }
  h3 {
      font-size: 1.35em;
      font-weight: 300;
  }
  h4{
      font-size: 1.15em;
      font-weight: 300;
  }
  h5{
      font-family: 'Italiana', serif;
      font-size: 1.65em;
      font-weight: 400;

  }
  img {
      width: 100%;
  }
  a {
    color: #1F1F1F;
    text-decoration: none; /* No underlining */
  }
  a:hover {
    color: #5C5C5C;
    text-decoration: none; /* No underlining */
  }

  a:active { /* selected link */
    color: #3684FE;
  }
  a:hover,
a:focus {
  color: #5C5C5C;
  text-decoration: none;
}
.text.underline {
    color: #1F1F1F;
    text-decoration: underline;
  }
.button{
    display: inline-block;
    background-color: #1F1F1F;
    color: #F7F6F1;
    font-weight: 500;
    font-size: 0.85em;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    transition: 0.1s opacity;
}
.button:hover {
    opacity: 0.9;
    text-decoration: none;
    color: #F7F6F1;
}
.button.contact{
    background-color: #3684FE;
    color:#F7F6F1;
    text-transform: uppercase;
    border: 2px solid #3684FE;
}
.button.contact:hover{
    background-color:#3684FE;
    color:#F7F6F1;
}